footer {
  min-height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    text-align: center;
    h4 {
      margin-bottom: 10px;
      color: var(--primary-color);
    }
  }
}
